<!doctype html>
<html ng-app="cancerLookup">
  <head>

    <link rel="stylesheet" href="index.css"></link>

    <!-- debug -->
    <script src="getDyn.js"></script>
    <script src="jquery-1.11.3.min.js"></script>
    <!-- end debug -->

    <script src="lodash.min.js"></script>
    <script src="Snoocore-browser.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="dynTags.js"></script>
    <script src="tags.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div ng-controller="LookupCtrl">
      <label>Subreddit:</label>
      r/<input type="text" ng-model="sub" ng-change="subType()" placeholder="punchablefaces">
      <hr>
      <div ng-show="sub">results for r/{{sub}}:</div>
      <div ng-hide="sub">type in a subreddit to continue</div>
      <div>
        <span ng-show="['IDLE', 'ERROR'].indexOf(stage) === -1">loading...</span>
      </div>
      <div ng-show="stage === 'ERROR'">API error - does the sub exist?  Are you online?</div>
      <div ng-show="data && stage === 'IDLE'">
        <div class="mod-row" ng-repeat="mod in data">
          <div class="mod-name">
            {{mod.name}}
          </div>
          <div class="mod-tags">
            <span ng-repeat="tag in tags[mod.name].tags" ng-style="{color: types[tag].color}">{{tag}} </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
